03-filters-solution/src/main/app/messagefilterexceptiondemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
  
    
    <set-payload name="sp" value="Message was not accepted. Set payload called" doc:name="Set Payload"/>
    
    <flow name="main">
    
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mpf" doc:name="HTTP"/>
        <message-filter  doc:name="Message" throwOnUnaccepted="true">
            <expression-filter expression="#[message.inboundProperties.'http.query.params'.stock!=null]"/>
        </message-filter>
        
        <set-payload value="#[message.inboundProperties.'http.query.params'.stock]" doc:name="Set Payload"/>
        
        <component class="com.way2learnonline.StockQuoteService" doc:name="Stock Comp"/>
        
    </flow>
    
</mule>
