03-outbound-flow-session-solution/target/classes/flowandsessionvars.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="flowandsessionvarsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flow" doc:name="HTTP"/>
        <set-variable variableName="fvarname" value="#[message.inboundProperties.'http.query.params'.username]" doc:name="Variable"/>
        <set-session-variable variableName="svarcity" value="#[message.inboundProperties.'http.query.params'.city]" doc:name="Session Variable"/>
        <logger message="#['name : '+flowVars.fvarname+'      city: '+sessionVars.svarcity]" level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="myq" doc:name="VM"/>
    </flow>
    <flow name="flowandsessionvarsFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="myq" doc:name="VM"/>
        <set-payload value="#['name : '+flowVars.fvarname+'    city: '+sessionVars.svarcity]" doc:name="Set Payload"/>
    </flow>
</mule>
