01-consuming-rest-solution/target/classes/01-consuming-rest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="7070" basePath="/rest" doc:name="HTTP Request Configuration"/>
    <flow name="01-consuming-restFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/products/{name}" doc:name="HTTP"/>
        <set-variable variableName="fvarname" value="#[message.inboundProperties.'http.uri.params'.name]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/products/{pname}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="panme" value="#[flowVars.fvarname]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
