01-mulebasics-solution/target/classes/basics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="01-mulebasics-solutionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getprice" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.stock]" doc:name="Set Payload"/>
        
        <component  doc:name="Stock Quote Service">
            <singleton-object class="com.way2learnonline.StockQuoteService">
                <property key="mykey" value="some value"/>
            </singleton-object>
        </component>
        
        
        <append-string-transformer message="USD" doc:name="Append String"/>
    </flow>
</mule>
