01-mulebasics-solution/target/classes/expressiontransformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
   
    <flow name="expressiontransformerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/expressiontest" doc:name="HTTP"/>
        <expression-transformer
          doc:name="Expression">
            <return-argument expression="#[message.inboundProperties.'http.query.params'.city]" optional="true"/>
            <return-argument expression="#[message.inboundProperties.'http.query.params'.country]" optional="true"/>
        </expression-transformer>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    
    
</mule>
